<mat-card class="login">
    <mat-card-header>
        <mat-card-title>Welcome back</mat-card-title>
        <mat-card-subtitle>Fill it with your data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="login__content">
        <mat-form-field class="login__input-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="login__input-field">
            <mat-label>Password</mat-label>
            <input matInput required type="password" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <button
            class="login__button"
            type="button"
            mat-raised-button
            color="primary"
            (click)="login()"
            [disabled]="!email.valid || !password.valid"
        >
            Login
        </button>
        <mat-divider class="login__divider" />
        <button class="login__button" type="button" mat-stroked-button color="primary" (click)="register()">
            Register
        </button>
        <button class="login__button" type="button" mat-button color="primary">
            Forgot yor password?
        </button>
    </mat-card-content>
</mat-card>