.login {
    width: 500px;
    margin: 0 auto;
    top: 100px;

    &__content {
        padding: 16px;   
    }

    &__input-field {
        width: 100%;
    }

    &__button {
        width: 100%;
        margin: 5px 0;
    }

    &__divider {
        margin: 15px 0;
    }
}