<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>TDD - Grupo 2</span>
</mat-toolbar>
<mat-sidenav-container class="panel__container">
    <mat-sidenav #sidenav mode="side" opened class="panel__sidenav">
        <nav class="panel__nav">
            <ng-container *ngFor="let item of menuItems">
                <a class="panel__nav-item" [routerLink]="item.path" [class.active]="isActive(item)">
                    <mat-icon class="panel__nav-icon" aria-hidden="false" [fontIcon]="item.icon"></mat-icon>
                    <span>{{item.text}}</span>
                </a>
            </ng-container>
            <mat-divider></mat-divider>
            <div class="panel__nav-item" (click)="logout()">
                <mat-icon class="panel__nav-icon" aria-hidden="false" fontIcon="logout"></mat-icon>
                <span>Logout</span>
            </div>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container >
