@import '../../styles/variables';

.panel {
    &__container {
        position: absolute;
        top: $panel-topbar-height;
        bottom: 0;
        left: 0;
        right: 0;
        background: $grey;
    }
        
    &__sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $panel-sidebar-width;
        background: $grey;
    }

    &__nav {
        padding-top: 1em;

        &-icon {
            margin-right: 10px;
        }

        &-item {
            color: $black-33;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 16px 0 16px 24px;
            font-size: 14px;
            line-height: 1em;
            cursor: pointer;
        }

        .active {
            border-left: 3px solid $primary;
            color: $primary;
        }

        &-item:hover {
            background: $grey-04;
        }
    }
}
